<!--The content below is only a placeholder and can be replaced.-->



<ul class="navbar">
        
         <li class="nav-item">Home </li>
        <li class="nav-item">About Us</li>
        <li class="nav-item">Carrier</li>
  </ul>





<div style="text-align:center">
  <h1>
    Have a great {{title}}!
  </h1>

  </div>
 


  
 
<img src="{{imgstr}}" class="img" style="width:1340px ; height:300px">
<app-component (emi)="imgstr=$event"></app-component>

  
  


<div style="text-align:center" style="background-color:black;">
  <h1>
  ....The smile is very important for health....
  </h1>

<div class="row">
  <div class="col-md-12">
   <input type="text" [ngStyle]="{'border': '5px solid red'}"></div> 
</div>


<!--<input type="button" [ngClass]="{btn : pqr}" value="Submit">-->
    <!--<input type="button" (click)="newfunction()">-->
<br>

<div class="row">
  <div class="col-md-12">
    <input type="text" [ngStyle]="{'border': '5px solid red'}" sizer>
    </div> 
</div>

</div>




<audio controls *ngFor="let sg of songs">

  <source src="{{sg}}" type="audio/mpeg">
  </audio>
<!--<ul id="playlist">
        <li class="current-song"><a href="assets\song1.mp3"></li>
         <li><a href="assets\song2.mp3"></li>
        <li><a href="assets\song3.mp3"></li>
        <li><a href="assets\song4.mp3"></li>
        <li><a href="assets\song5.mp3"></li>
        <li><a href="assets\song6.mp3"></li>
  </ul>-->

<input type="button" (click)="audioPlayer()">
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>-->

<div class="container">

  <img class="imgeff" src="\assets\Lighthouse.jpg">
</div>

